footer {visibility: hidden}

#title{
    font-size: 48px; 
    font-weight: 700; 
    margin: 0; 
    color: var(--body-text-color);
    letter-spacing: -0.02em;
}
#subtitle{
    font-size: 20px; 
    color: var(--body-text-color-subdued);
    margin:0;
    font-weight: 400;
}

#authors{
    font-size: 15px; 
    color: #86868b; 
    margin:0;
    font-style: italic;
}

.radio_group .wrap {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

.h_separator{
    border : none !important;
    background-color: var(--button-primary-background-fill-hover) !important;
    padding:2px;
    height: 4px !important;
    border-radius: 5px!important;
}
.v_separator{
    border : none !important;
    background-color: var(--button-primary-background-fill-hover) !important;
    padding:2px;
    width: 4px !important;
    height: 100% !important;
    border-radius: 5px!important;
}

.full_size_image .image-frame img{ 
    object-fit: fill !important;
}

.h250 {
    height: 250px;
}

.border_left_panel{
    border-left: 4px solid var(--button-primary-background-fill-hover);
    padding-left: 15px;
}

.nearest_upscale{
    image-rendering: crisp-edges;
}

/* Switch the visibility of the GREYC logo based on  Gradio's color scheme (light or dark theme) by hidding the right logo */
@media (prefers-color-scheme: light) {
    #logo-light { display: block !important; }
    #logo-dark { display: none !important; }
}

@media (prefers-color-scheme: dark) {
    #logo-light { display: none !important; }
    #logo-dark { display: block !important; }
}

/* OLD NIFTY CSS, BAD, IT'D NEED TO BE REWRITTEN LIEK THE NEW ONE */

.filled_flex_display {display: flex !important; align-content: stretch; justify-content: space-between;}
.filled_flex_display > div{display: grid !important; align-content: stretch; align-items: stretch; justify-items: stretch; flex-grow: 1 !important;}
.full_width {
    width: -webkit-fill-available !important;
}


.full_height {
    height: -webkit-fill-available !important;
}

[data-testid="imageslider-image"] {
    max-block-size: -webkit-fill-available !important;
}